@media (min-width: 992px) {
    body {
	background-image: url('omfgdogs.gif');
    }
    #no_dogs {
	display: none;
    }
}

#orig_link {
    position: absolute;
    bottom: 0;
    right: 0;
}

a {
    color: red;
}